body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  background: rgba(255, 255, 255, .2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-indent: 15px;
  padding: 0 55px 0 0;
  color: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

header input::-ms-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

header input::-o-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, .75);
}

header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}